Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  concurrency-*,
  performance-*,
  portability-*,
  -performance-enum-size,
  -portability-avoid-pragma-once

HeaderFilterRegex: 'include/cc/.*|src/.*'
WarningsAsErrors: '*'
